# Visual Studio Code
.vscode/

# Visual Studio files
*.suo
*.cache
*.pdb
*.user
*.ncrunch*
*.vspscc
*.vssscc
/.vs
/bin
/obj

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform .NET code coverage library
coverage*.json
coverage*.xml
coverage*.info
.coverage

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store Builds
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*_StoreKey.pfx

# Others
[Dd]ebugger/
[Dd]ebugLogs/
*.bak
*.log
node_modules/
npm-debug.log*
*.lock.json
